@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: #2d2d2d;
	margin: 0;
	padding: 0;
	height: 100%;

	font-family: 'Roboto';
	font-size: 1.2vw;
}

a {
	text-decoration: none;
}

li a:link {
	color: #222;
}

li a:visited {
	color: #222;
}

li a:hover {
	color: gold;
}

li a:active {
	color: gold;
}

#header {
	background-color: #fff;
	border-bottom: .3vw solid gold;
	height: 4vw;
}

.navbar {
	height: 4vw;
	padding: 0;
	margin: 0;
}

.navbar li {
	display: inline-block;
	height: 3vw;
	float: right;
	padding: .5vw 1%;

	font-family: 'Roboto';
	font-size: 3vw;
	font-weight: bold;
}

#home {
	position: absolute;
	width: 50%;
	height: 3vw;
	padding: .5vw 1%;

	font-family: 'Roboto';
	font-size: 3vw;
	font-weight: 900;
	text-decoration: none;
}

#home a:link {
    color: #222;
}

#home a:visited {
    color: #222;
}

#home a:hover {
    color: gold;
}

#home a:active {
    color: gold;
}

.block {
	background-color: #fff;
	text-align: center;
	margin: 1%;
	padding: 1%;
}

.title {
	margin: auto;
	padding: .6vw 0;
	text-align: center;
	font-weight: bold; 
	font-size: 1.2vw;
}

.block ul {
	list-style: none;
	padding: .6vw 0;
	margin: 0;
	font-size: 1vw;
}

.block li {
	padding: .2vw 0;
}
